@font-face {
  font-family: abolition;
  src: url('../assets/fonts/Abolition.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: proximanova;
  src: url('../assets/fonts/ProximaNova.otf') format("opentype");
  font-weight: bold;
}

@keyframes typing {
  from {
  	width: 0;
  }
  to {
  	width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
  	border-color: transparent;
  }
  50% {
  	border-color: orange;
  }
}

* {
	font-family: abolition;
}

p {
	font-family: proximanova;
}

:root {
  --navbar: white;
  --navbar-text: black;
  --background: white;
  --contrast: orange;
  --main-text: #735cdd;
  --text: black;
  --item-background: #f5f7f6;
}

.navbar-brand {
	padding: 0;
}

.navbar {
	background-color: var(--navbar);
	display: flex;
    align-items: center;
    letter-spacing: 1px;
}

#brand-name {
	color: var(--navbar-text);
	text-decoration: none;
}

.navbar-brand {
	color: var(--navbar-text);
	font-size: 200%;
}

.navbar-brand:hover {
	color: var(--navbar-text);
}

.nav-button {
	display: inline-block;
	position: relative;
	color: var(--navbar-text);
	text-decoration: none;
	font-size: 150%;
	vertical-align: middle;
	padding-top: 0.2%;
}

.nav-button:hover {
	color: var(--navbar-text);
}

.nav-button:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--navbar-text);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.nav-button:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.nav-button-container {
	margin: 10px;
	display: flex;
    align-items: center;
}

.container-fluid {
	margin-right: 2.5%;
	margin-left: 2.5%;
}

body {
	background-color: var(--background);
	/*
	background-image: url("../assets/images/facility.png");
	background-size: cover;
	*/
}

.contact-button {
	padding: 0.3%;
	color: var(--contrast);
	font-size: 120%;
	background-color: none;
	border: solid 2px var(--contrast);
	text-decoration: none;
	transition: .3s;
}

.contact-button:hover {
	color: black;
	background-color: var(--contrast);
}

.discover-button {
	color: black;
	font-size: 200%;
	padding: 10px;
	margin-top: 1%;
	background-color: var(--contrast);
	border: 2px solid var(--contrast);
	text-decoration: none;
	transition: .3s;
}

.discover-button:hover {
	color: var(--contrast);
	background-color: transparent;
}

.discover-container {
	margin-top: 1%;
}

.intro-container {
	display: flex;
	margin: 5%;
	margin-top: 3%;
	padding: 0;
}

.cta-container {
	font-size: 850%;
	line-height: 120%;
	letter-spacing: 1px;
}

.typewriter {
  overflow: hidden;
  border-right: .05em solid var(--contrast);
  white-space: nowrap;
  margin: 0 auto;
  color: var(--main-text);
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.support {
	letter-spacing: 0;
	color: var(--text);
	font-family: proximanova;
	font-size: 150%;
}

.info-container {
	width: 100%;
}

.img-container {
	display: flex;
	align-items: center;
	width: 100%;
}

#main-image {
	object-fit: contain;
	width: 100%;
	margin: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;

}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.items-container {
	padding: 10%;
	padding-left: 10%;
	padding-right: 10%;
	display: grid;
	grid-template-rows: max-content;
	/*grid-gap: 50%;*/
}

.item {
	display: flex;
	margin: 10%;
	margin-bottom: 0;
	height: fit-content;

	background-color: var(--item-background);
	border-radius: 10px;
	box-shadow: 0 30px 50px -30px #aaa;

	transition: .3s;
}

.item:hover {
	transform: scale(1.05);
}

.item-info {
	padding: 3%;
	width: 100%;
}

.item-image {
	height: 300px;
	margin: auto;
	display: block;
	border-radius: 10px;
}

.item-title {
	font-family: abolition;
	font-size: 500%;
}

.item-text {
	font-family: proximanova;
	font-size: 200%;
	height: fit-content;
}

.heading {
	text-align: center;
	font-size: 500%;
}

.subheading {
	margin: 5%;
	font-family: proximanova;
	text-align: center;
	font-size: 200%;
}

.link {
	font-family: proximanova;
	color: var(--main-text);
	text-decoration: none;
}

.link:hover {
	color: var(--main-text);
	text-decoration: underline;
}

footer {
	margin-bottom: 3%;
	text-align: center;
	font-family: proximanova;
	color: black;
}

.slide-up-fade-in {
    visibility: hidden;
}

@keyframes slide-up-fade-in{
    0% {
        opacity:0;
        transform:  translate(0px,40px)  ;
    }
    100% {
        opacity:1;
        transform:  translate(0px,0px)  ;
    }
}

@-moz-keyframes slide-up-fade-in{
    0% {
        opacity:0;
        -moz-transform:  translate(0px,40px)  ;
    }
    100% {
        opacity:1;
        -moz-transform:  translate(0px,0px)  ;
    }
}

@-webkit-keyframes slide-up-fade-in {
    0% {
        opacity:0;
        -webkit-transform:  translate(0px,40px)  ;
    }
    100% {
        opacity:1;
        -webkit-transform:  translate(0px,0px)  ;
    }
}

@-o-keyframes slide-up-fade-in {
    0% {
        opacity:0;
        -o-transform:  translate(0px,40px)  ;
    }
    100% {
        opacity:1;
        -o-transform:  translate(0px,0px)  ;
    }
}

@-ms-keyframes slide-up-fade-in {
    0% {
        opacity:0;
        -ms-transform:  translate(0px,40px)  ;
    }
    100% {
        opacity:1;
        -ms-transform:  translate(0px,0px)  ;
    }
} 


.default-container {
	text-align: center;
	margin: 3%;
}

.blue {
	color: var(--main-text);
}

#search {
	font-family: proximanova;
	font-size: 200%;
	border: none;
	outline: none;
	border-bottom: 3px solid black;
	width: 70%;
	padding-left: 0;
	caret: block;
	transition: .5s;
	margin-bottom: 30px;
}

#search:focus {
	border-color: var(--main-text);
}

.faq {
	width: 100%;
	background-color: white;
	text-align: left;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: none;
	display: flex;
	align-items: center;
	transition-duration: .1s;
}

#drop {
	transition-duration: 0.3s;
	margin-right: 10px;
}

#drop.active {
	
}

.main-faq-container {
	padding: 30px 5% 0 5%;
}

.faq-container {
	background-color: white;
	border-bottom: 1px solid #ebebeb;
	padding: 0.5%;
}

.faq-question {
	font-size: 150%;
}

.faq-answer {
	padding-left: calc(30px + 0.5%);
	font-family: proximanova;
	text-align: left;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
