@font-face {
  font-family: abolition;
  src: url('../assets/fonts/Abolition.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: proximanova;
  src: url('../assets/fonts/ProximaNova.otf') format("opentype");
  font-weight: bold;
}

@keyframes typing {
  from {
  	width: 0;
  }
  to {
  	width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
  	border-color: transparent;
  }
  50% {
  	border-color: orange;
  }
}

* {
	font-family: abolition;
}

:root {
  --navbar: white;
  --navbar-text: black;
  --background: white;
  --contrast: orange;
  --main-text: #735cdd;
  --text: black;
}

.navbar-brand {
	padding: 0;
}

.navbar {
	background-color: var(--navbar);
	display: flex;
    align-items: center;
    letter-spacing: 1px; 
}

#brand-name {
	color: var(--navbar-text);
	text-decoration: none;
}

.navbar-brand {
	color: var(--navbar-text);
	font-size: 200%;
}

.navbar-brand:hover {
	color: var(--navbar-text);
}

.nav-button {
	display: inline-block;
	position: relative;
	color: var(--navbar-text);
	text-decoration: none;
	font-size: 150%;
	vertical-align: middle;
	padding-top: 0.2%;
}

.nav-button:hover {
	color: var(--navbar-text);
}

.nav-button:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--navbar-text);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.nav-button:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.nav-button-container {
	margin: 10px;
	display: flex;
    align-items: center;
}

.container-fluid {
	margin-right: 2.5%;
	margin-left: 2.5%;
}

body {
	background-color: var(--background);
	/*
	background-image: url("../assets/images/facility.png");
	background-size: cover;
	*/
}

.contact-button {
	padding: 0.3%;
	color: var(--contrast);
	font-size: 120%;
	background-color: none;
	border: solid 2px var(--contrast);
	text-decoration: none;
	transition: .3s;
}

.contact-button:hover {
	color: black;
	background-color: var(--contrast);
}

.discover-button {
	color: black;
	font-size: 200%;
	padding: 10px;
	margin-top: 1%;
	background-color: var(--contrast);
	border: 2px solid var(--contrast);
	text-decoration: none;
	transition: .3s;
}

.discover-button:hover {
	color: var(--contrast);
	background-color: transparent;
}

.discover-container {
	margin-top: 1%;
}

.container {
	margin: 5%;
	margin-top: 3%;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.cta-container {
	font-size: 850%;
	line-height: 120%;
	letter-spacing: 1px;
}

.typewriter {
  overflow: hidden;
  border-right: .05em solid var(--contrast);
  white-space: nowrap;
  margin: 0 auto;
  color: var(--main-text);
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.support {
	letter-spacing: 0; 
	color: var(--text);
	font-family: proximanova;
	font-size: 150%;
}

.info-container {
	max-width: 100%;
}

.img-container {
	display: flex;
	align-items: center;
}

#main-image {
	object-fit: contain;
	width: 100%;
	margin: auto;
}
