@font-face {
  font-family: abolition;
  src: url('../assets/fonts/Abolition.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: proximanova;
  src: url('../assets/fonts/ProximaNova.otf') format("opentype");
  font-weight: bold;
}

:root {
  --navbar: #291e2c;
  --background: #4e3644;
  --contrast: #f0bd30;
}

* {
	font-family: abolition;
}

@keyframes typing {
  from {
  	width: 0;
  }
  to {
  	width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
  	border-color: transparent;
  }
  50% {
  	border-color: orange;
  }
}

.navbar-brand {
	padding: 0;

}

.navbar {
	background-color: var(--navbar);
	display: flex;
    align-items: center;
    letter-spacing: 1px; 
}

.navbar-brand {
	color: white;
	font-size: 200%;
}

.navbar-brand:hover {
	color: white;
}

.nav-button {
	display: inline-block;
	position: relative;
	color: white;
	text-decoration: none;
	font-size: 150%;
	vertical-align: middle;
	padding-top: 0.2%;
}

.nav-button:hover {
	color: white;
}

.nav-button:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: white;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.nav-button:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.nav-button-container {
	margin: 10px;
	display: flex;
    align-items: center;
}

body {
	background-color: var(--background);
}

.contact-button {
	padding: 0.3%;
	color: var(--contrast);
	font-size: 120%;
	background-color: none;
	border: solid 2px var(--contrast);
	text-decoration: none;
	transition: .3s;
}

.contact-button:hover {
	color: black;
	background-color: var(--contrast);
}

.container {
	margin: 5%;
	margin-top: 3%;
}

.cta-container {
	font-size: 850%;
	color: white;
	line-height: 120%;
	letter-spacing: 1px; 
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .05em solid var(--contrast); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.support {
	letter-spacing: 0; 
	color: white;
	font-family: proximanova;
	font-size: 150%;
	width: 50%;
}
